<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="/javascript/loginPage.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/adminAddQuestions.css">
    <script src="/javascript/adminAddQuestions.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Coding Buddy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/about">About</a>
                </li>
            </ul>
        </div>
    </nav>


    <div id="questionDiv" class="centerContent text-center">
        <label id="mcLabel" class="radio-inline"><input id="mcInput" type="radio" name="isMultipleChoice"
                checked>Multiple
            Choice</label>
        <label id="tflabel" class="radio-inline"><input id="tfInput" type="radio" name="isTF">True /
            False</label>
        <label id="csvlabel" class="radio-inline"><input id="csvInput" type="radio" name="isCSV">Upload a
            CSV</label>
        <div id="csvContent">
            <form id="csvFrm" autocomplete="off" class="form-signUp text-center" method="POST"
                action="/admin/csvQuestionSubmission" enctype="multipart/form-data">
                <input id="fileid" type="file" name="csvFile" />
                <button id="submit" type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
            </form>
        </div>
        <div id="tfAllContent">
            <form id="tfFrm" autocomplete="off" class="form-signUp text-center" method="POST"
                action="/admin/tfQuestionSubmission">
                <input id="mcQuestionInput" name="question" class="form-control" placeholder="Question" value="<%= questionInfo ? questionInfo.question : '' %>"> </input>
                <p id="checkAnsReminder">Check the correct answer</p>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input name="isTrueCorrect" id="trueAnswerRadioBtn" type="radio" checked> </input>
                        </span>
                        <p>True</p>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input name="isFalseCorrect" id="falseAnswerRadioBtn" type="radio"> </input>
                        </span>
                        <p>False</p>
                    </div>
                </div>
                <button id="submit" type="submit" class="btn btn-outline-primary btn-lg">Submit</button>

            </form>
        </div>

        <div id="mcAllContent">
            <form id="mcFrm" autocomplete="off" class="form-signUp text-center" method="POST"
                action="/admin/mcQuestionSubmission">
                <div class="form-group">
                    <input id="question" name="question" class="form-control" placeholder="Question" value="<%= questionInfo ? questionInfo.question : '' %>"> </input>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input id="aRadioBtn" name="isACorrect" type="radio" checked>
                        </span>
                        <input id="AAnswerBox" name="AAnswerBox" class="form-control" type="text"
                            placeholder="Answer for A" value="<%= questionInfo ? questionInfo.choice1 : '' %>"> </input>    
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input id="bRadioBtn" name="isBCorrect" type="radio">
                        </span>
                        <input id="BAnswerBox" name="BAnswerBox" class="form-control" type="text"
                            placeholder="Answer for B" value="<%= questionInfo ? questionInfo.choice2 : '' %>">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input id="cRadioBtn" name="isCCorrect" type="radio">
                        </span>
                        <input id="CAnswerBox" name="CAnswerBox" class="form-control" type="text"
                            placeholder="Answer for C" value="<%= questionInfo ? questionInfo.choice3 : '' %>">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input id="dRadioBtn" name="isDCorrect" type="radio">
                        </span>
                        <input id="DAnswerBox" name="DAnswerBox" class="form-control" type="text"
                            placeholder="Answer for D" value="<%= questionInfo ? questionInfo.choice4 : '' %>">
                    </div>
                </div>
                <button id="submit" type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
            </form>
        </div>
        </form>
    </div>

    <br>
    <div id="quizbank">
        <table id="questionsTable" class="table table-sm table-active">
            <thead>
                <tr>
                    <!-- <th scope="col" class="bg-info">QuestionID</th> -->
                    <th scope="col" class="bg-info">Question</th>
                    <th scope="col" class="bg-info">Answer</th>
                    <th scope="col" class="bg-info">Question Type</th>
                    <th scope="col" class="bg-info"></th>
                    <th scope="col" class="bg-info"></th>
                </tr>
            </thead>
            <tbody>

                <% for(var i = 0; i < results.length; i++) { %>
                <tr>
                    <!-- <th scope="row"> <%= results[i].QuestionId %> </th> -->
                    <td> <%= results[i].Question %></td>
                    <td> <%= results[i].Answer %> </td>
                    <td> <%= results[i].TypeOfQuestion %></td>
                    <td>
                        <div class="redXImage">
                            <a href="/admin/deleteQuestions/?id=<%-results[i].QuestionId%>"> <input width="15px"
                                    height="15px" type="image" src="/images/redX.jpg" /> </a>
                        </div>
                    </td>
                    <td class ="edit">
                        <a id="editBtn<%= i %>" href="/admin/editQuestions/?id=<%-results[i].QuestionId%>">Edit</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <% if(typeof error != 'undefined'){  %>
    <div id="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>
            <p><%= error %></p>
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <% } %>

</body>

</html>