<!DOCTYPE html>
<html lang="en">
<head>
<title>Quiz Page</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../server/routes/users.js"></script>
    <script src="/javascript/quizpage.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="X-UA-Compatible" content="IE=edge" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Coding Buddy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/about">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <br><br><br><br><br>

    
    <%
    var temp1 = new Set();
    var temp2 = [];
    for(let x=0; x<results.length; x++){
        if(!temp1.has(results[x].QuestionId)){
            temp1.add(results[x].QuestionId);
            temp2.push(results[x].Answer);
        }
    }
    var amountofquestions=temp2.length;

    var postedquestions = new Set();
    var answers = [];
    var counter=0;
    %>
    <form id="submitquiz" method="POST" action="/users/QuizPage">
        <div><p name="score" id="score" >0</p></div>
            <%
            for(let x=0; x<results.length; x++){
                if(!postedquestions.has(results[x].QuestionId)){
                    postedquestions.add(results[x].QuestionId);
                    answers.push(results[x].Answer);
            %>      
                    <div class="container for each question/choices">
                        <div class="questions">
                            <h4><%= results[x].Question %></h4>
                        </div>

                        <%
                        for(let q=0; q<results.length; q++){
                            if(results[q].QuestionId == results[x].QuestionId){
                        %>
                                <p>
                                    <input type="radio" value="<%=results[q].PossibleAnswer%>" name="<%=results[q].QuestionId%>" onclick="update(<%=amountofquestions%>,<%=answers[answers.length-1]%>,<%=results[q].PossibleAnswer%>,<%=counter%>);">
                                        <%= results[q].PossibleAnswer %>
                                    </input>
                                </p>
                            <%}%>
                        <%}%>
                        <br>
                                
                    </div>
                <%counter++;}%>
            <%}console.log(answers);%>
        <button type="submit" value="submitquiz" onclick="">Submit</button>
    </form>  

</body>
</html>